{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}

{% block content %}
  {% if site_logo %}
  <div class="navbar-header">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-12">
        <a class="navbar-brand" href="{{ path('<front>') }}" title="{{ site_name }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ site_name }}" />
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
