//
// Client Information Follow us styles
// --------------------------------------------------


.block-copyright {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(7);
  @include make-lg-column(7);
  
  text-align: right;
  color: lighten($brand-primary, 30%);
}

.footer .block-copyright a {
  color: lighten($brand-primary, 30%);
}

@media (max-width: $screen-sm-max) {
  .block-copyright {
    text-align: center;
  }
}