//
// Banner styles
// --------------------------------------------------

.region.banner {
  background-color: $banner-bg;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  H1 {
    float: right;
    margin-top: 70px;
    margin-right: $title-highlight-padding;
    margin-bottom: 70px;
    margin-left: $title-highlight-padding;
    line-height: 1.8em;
    
    > SPAN {
      display: inline;
      background: rgba($title-highlight-bg, 1);
      color: white; 
      padding: $title-highlight-padding;
      padding-left: 0;
      padding-right: 0;
      box-shadow: 
        $title-highlight-padding 0 0 rgba($title-highlight-bg, 1),
        -$title-highlight-padding 0 0 rgba($title-highlight-bg, 1);
    }
  }
}

// Slider
body.path-frontpage {
  .banner {
    .container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}