{#
/**
 * @file
 * Default template of the client_information_copyright theme from the Acreat Factory module
 *
 * Available variables:
 * - $client
 */
#}

<p>&copy; {{ "now"|date("Y") }} {{ client.denomination_sociale.default_value }}. Tous droits réservés - <a href="http://www.acreat.com/" target="_blank" title="Acreat Web Technologies">Création site internet</a> <a href="http://www.acreat.com/" target="_blank" title="Agence web à Rennes, création de sites internet">Acreat Web Technologies</a></p>