<div class="previous">
  {% if previous_url %}
    <a href="{{ previous_url }}">{{ previous_title }}</a>
  {% endif %}
</div>

<div class="next">
  {% if next_url %}
    <a href="{{ next_url }}">{{ next_title }}</a>
  {% endif %}
</div>